@model addon365.FindMatch360.Models.ProfileRenewal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Receipt</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class='bx bx-home-alt'></i> </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index">Details </a></li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <a asp-action="Index">
                <button type="button" class="btn btn-primary"> Back to List</button>
            </a>
        </div>
    </div>
</div>
<!--end breadcrumb-->
<h1>Details</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!--end breadcrumb-->
                <div class="col-md-12">
                    <h4>ProfileRenewal</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.ProfileRenewalSpecialId)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.ProfileRenewalSpecialId)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.RenewalDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.RenewalDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Profile)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Profile.ProfileMasterId)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.ProfileRenewalMasterId">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
