
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model ProfileViewModel




<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Profile</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->
<div class="user-profile-page">
    <div class="card radius-15">
        <div class="card-body">
            <form asp-controller="Admin" asp-action="CreateProfile">
                <div class="validation text-danger" asp-validation-summary="All" ></div>
                <div class="row">

                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="text-center">
                                <div class="form-row">
                                    <img src="~/adminuser/assets/images/avatars/avatar-1.png" class="rounded-circle shadow" width="130" height="130" alt="" />
                                </div>

                                <div class="form-row">
                                    <button type="button" class="btn btn-primary btn-block mt-2">Upload</button>
                                </div>
                                <div class="form-row">
                                    <button type="button" class="btn btn-outline-secondary btn-block mt-2">Clear</button>
                                </div>
                            </div>
                            <div class="ml-md-4 flex-grow-1">
                                <div class="form-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="@Model.Name">First Name</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class='bx bx-user'></i></span>
                                                </div>
                                                <input type="text" asp-for="@Model.Name" class="form-control border-left-0" placeholder="First Name">
                                                <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Last Name</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class='bx bx-user'></i></span>
                                                </div>
                                                <input type="text" class="form-control border-left-0" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.MobileNo">Mobile No.</label>
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent"><i class='bx bx-phone'></i></span>
                                            </div>
                                            <input asp-for="@Model.MobileNo" type="text" class="form-control border-left-0" placeholder="Phone No">

                                        </div>
                                        <span asp-validation-for="@Model.MobileNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent"><i class='bx bx-envelope'></i></span>
                                            </div>
                                            <input asp-for="@Model.EmailId" type="text" class="form-control border-left-0" placeholder="Email Address">
                                        </div>
                                        <span asp-validation-for="@Model.EmailId" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <label asp-for="@Model.Gender">Gender</label>
                                <select class="form-control" asp-for="@Model.Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
                                </select>
                                <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Language</label>
                                <select class="form-control">
                                    <option>English</option>
                                    <option>German</option>
                                    <option>French</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="mb-0">Date of Birth</p>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>January</option>
                                    <option>February</option>
                                    <option selected>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option selected>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option selected>1993</option>
                                    <option>1994</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-2" />
                </div>*@
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-primary btn-block mt-2">Save</button>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-outline-secondary btn-block mt-2">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#nav-profile"><span class="p-tab-name">Profile</span><i class='bx bx-donate-blood font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#nav-lifestyle"><span class="p-tab-name">Life Style</span><i class='bx bxs-user-rectangle font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-education"><span class="p-tab-name">Education</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-job"><span class="p-tab-name">Job</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-about"><span class="p-tab-name">about</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-Horoscope"><span class="p-tab-name">Horoscope</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-family"><span class="p-tab-name">Family</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-preferences"><span class="p-tab-name">Preferences</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-login"><span class="p-tab-name">Login</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                </ul>

                @*<nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Profile View</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Life Style</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Education Details</a>
                <a class="nav-item nav-link" id="nav-Religion-tab" data-toggle="tab" href="#nav-Religion" role="tab" aria-controls="nav-Religion" aria-selected="false">Religion</a>
                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Job Details</a>
                <a class="nav-item nav-link" id="nav-Horoscope-tab" data-toggle="tab" href="#nav-Horoscope" role="tab" aria-controls="nav-Horoscope" aria-selected="false">Horoscope</a>
                <a class="nav-item nav-link" id="nav-Family-tab" data-toggle="tab" href="#nav-family" role="tab" aria-controls="nav-Family" aria-selected="false">Family</a>
                <a class="nav-item nav-link" id="nav-Preferences-tab" data-toggle="tab" href="#nav-preferences" role="tab" aria-controls="nav-Preferences" aria-selected="false">Preferences</a>
            </div>
        </nav>*@

                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="nav-profile">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 border-right">
                                        <div class="form-group">
                                            <label asp-for="@Model.MaritalStatusMasterId">Marital Status</label>
                                            <select class="form-control" id="sel1" asp-for="@Model.MaritalStatusMasterId" asp-items="@Model.MaritalStatusMasters.Select(m=>new SelectListItem{ Text = m.MaritalStatusName, Value = m.MaritalStatusMasterId.ToString() })">
                                            </select>
                                            <span asp-validation-for="@Model.MaritalStatusMasterId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="@Model.BodyType">BodyType</label>
                                            <select class="form-control"  asp-for="@Model.BodyType" asp-items="@Html.GetEnumSelectList<BodyType>()">
                                                <option>Select Body Type </option>

                                            </select>
                                            <span asp-validation-for="@Model.BodyType" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.CountryId">Country</label>
                                            @*Html.DropDownListFor(m => m.CountryId, Model.Countries, "Please select", new { onchange = "document.forms[0].submit();" })*@
                                            <select class="form-control" id="CountryViewId" asp-for="@Model.CountryId" asp-items="@Model.Countries">
                                                <option>Please Select</option>

                                            </select>
                                            <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
                                        </div>



                                        <div class="form-group">
                                            <label asp-for="@Model.Weight">Weight:</label>
                                            <input asp-for="@Model.Weight" type="number" class="form-control" id="name" placeholder="Enter Weight" name="weight">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Height">Height:</label>
                                            <input asp-for="@Model.Height" type="number" class="form-control" id="name" placeholder="Enter Height" name="height">
                                        </div>


                                        <div class="form-group">
                                            <label asp-for="@Model.SkinColor">SkinColor</label>
                                            <select asp-for="@Model.SkinColor" class="form-control">
                                                <option>red </option>
                                                <option>Average</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="@Model.DisabilityDescription">Disability</label>
                                            <select asp-for="@Model.DisabilityDescription" class="form-control" id="sel1">
                                                <option>Eye </option>
                                                <option>orthopedic </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-lifestyle">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6 border-right">


                                            <div class="form-group">
                                                <label asp-for="@Model.EatingHabit">EatingHabit</label>
                                                <select class="form-control" asp-for="@Model.EatingHabit" asp-items="@Html.GetEnumSelectList<EatingHabit>()">
                                                    <option>Select Eating Habit</option>
                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <label asp-for="@Model.Drinking">Drinking</label>
                                                <select class="form-control"  asp-for="@Model.Drinking" asp-items="@Html.GetEnumSelectList<DrinkingHabit>()">
                                                    <option>Select Drinking Habit</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="sel1">Smoking</label>
                                                <select class="form-control"  asp-for="@Model.Smoking" asp-items="@Html.GetEnumSelectList<SmokingHabit>()">
                                                    <option>Select Smoking Habit</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-education">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">
                                            <div class="form-group">
                                                <label asp-for="@Model.HigherEducationsId">Education Details</label>
                                                <select class="form-control" asp-for="@Model.HigherEducationsId" asp-items="@Model.Educations.Select(m=>new SelectListItem{ Text = m.EducationName, Value = m.EducationMasterId.ToString() })">
                                                    <option>Select Education Details</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-job">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 border-right">
                                            <div class="form-group">
                                                <label asp-for="@Model.EmployeedInMasterId">Employeed In MasterId</label>
                                                <input type="number" asp-for="@Model.EmployeedInMasterId" class="form-control" id="name" placeholder="Enter EmployeedInMasterIds" name="weight">
                                            </div>


                                            <div class="form-group">
                                                <label asp-for="@Model.EmployeedInMasterId">Employeed In </label>
                                                <select class="form-control" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.MonthlyRevenue">MonthlyRevenue:</label>
                                                <input asp-for="@Model.MonthlyRevenue" type="number" class="form-control"  placeholder="Enter MonthlyRevenue">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="@Model.WorkingAddress">Working Address</label>
                                                <textarea asp-for="@Model.WorkingAddress" class="form-control" rows="5"></textarea>
                                            </div>

                                            <!--<div class="form-group">
                                                <label for="sel1">Country </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>--->
                                            <!--<div class="form-group">
                                                        <label for="sel1">State </label>
                                                        <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                            <option>Select Employeed In</option>

                                                        </select>
                                                    </div>--->

                                            <div class="form-group">
                                                <label asp-for="@Model.EmployeedInMasterId">City </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-about">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 border-right">

                                            <div class="form-group">
                                                <label  asp-for="@Model.ReligionMasterId">Religion </label>
                                                <select class="form-control"  asp-for="@Model.ReligionMasterId" asp-items="@Model.Religions.Select(m=>new SelectListItem{ Text = m.ReligionName, Value = m.ReligionMasterId.ToString() })">
                                                    <option>Select Religion</option>
                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <label asp-for="@Model.MotherTongueMasterId">MotherTongue </label>
                                                <select asp-for="@Model.MotherTongueMasterId" asp-items="@Model.MotherTongues.Select(m=>new SelectListItem{ Text = m.MotherTongueName, Value = m.MotherTongueMasterId.ToString() })" class="form-control">
                                                    <option>Select MotherTongue</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.CasteMasterId">Castes </label>
                                                <select class="form-control"  asp-for="@Model.CasteMasterId" asp-items="@Model.Castes.Select(m=>new SelectListItem{ Text = m.CasteName, Value = m.CasteMasterId.ToString() })">
                                                    <option>Select Castes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label  asp-for="@Model.SubCasteMasterId">SubCastes </label>
                                                <select class="form-control"  asp-for="@Model.SubCasteMasterId" asp-items="@Model.SubCastes.Select(m=>new SelectListItem{ Text = m.SubCasteName, Value = m.SubCasteMasterId.ToString() })">
                                                    <option>Select SubCastes</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label  asp-for="@Model.GothramMasterId">Gothrams </label>
                                                <select class="form-control"  asp-for="@Model.GothramMasterId" asp-items="@Model.Gothrams.Select(m=>new SelectListItem{ Text = m.GothramName, Value = m.GothramMasterId.ToString() })">
                                                    <option>Select Gothrams</option>
                                                </select>
                                            </div>
                                           </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-Horoscope">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 border-right">
                                            <div class="form-group">
                                                <label asp-for="@Model.Star">Star:</label>
                                                <input asp-for="@Model.Star" type="text" class="form-control"  placeholder="Enter Star" >
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.Rasi">Rasi:</label>
                                                <input asp-for="@Model.Rasi" type="text" class="form-control"  placeholder="Enter Rasi">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.Lagnam">Lagnam</label>
                                                <input asp-for="@Model.Lagnam" type="text" class="form-control"  placeholder="Enter Lagnam" >
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">

                                            <div class="form-group">
                                                <label class="control-label" asp-for="@Model.TimeofBirth">Date of Time*</label>
                                                <div class="col-sm-12">
                                                    <input asp-for="@Model.TimeofBirth" type="date" id="birthDate" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.PlaceOfBirth">Place Of Birth</label>
                                                <input asp-for="@Model.PlaceOfBirth" type="text" class="form-control"  placeholder="Place Of Birth">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane fade" id="nav-family">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 border-right">
                                            <div class="form-group">
                                                <label  asp-for="@Model.FamilyStatusMasterId"> Select FamilyStatus Details </label>
                                                <select class="form-control"  asp-for="@Model.FamilyStatusMasterId" asp-items="@Model.FamilyStatuses.Select(m=>new SelectListItem{ Text = m.FamilStatusName, Value = m.FamilyStatusMasterId.ToString() })">
                                                    <option>Select Family Status </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.FamilyTypeMasterId">Family Types Details </label>
                                                <select class="form-control" asp-for="@Model.FamilyTypeMasterId" asp-items="@Model.FamilyTypes.Select(m=>new SelectListItem{ Text = m.FamilyTypeName, Value = m.FamilyTypeMasterId.ToString() })">
                                                    <option>Select Family Values</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@Model.FamilyValuesMasterId">Family Values Details </label>
                                                <select class="form-control" asp-for="@Model.FamilyValuesMasterId" asp-items="@Model.FamilyValues.Select(m=>new SelectListItem{ Text = m.FamilyValuesName, Value = m.FamilyValuesMasterId.ToString() })">
                                                    <option>Select Family Values</option>


                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@Model.FatherName">Father Name</label>
                                                <input asp-for="@Model.FatherName" type="text" class="form-control"  placeholder="Enter FatherName" >
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.FatherQualification">Father Qualification</label>
                                                <input asp-for="@Model.FatherQualification" type="text" class="form-control" placeholder="Enter FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.FatherJob">Father Job </label>
                                                <input asp-for="@Model.FatherJob" type="text" class="form-control"  placeholder="Enter FatherJob" >
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.MotherName">Mother Name</label>
                                                <input asp-for="@Model.MotherName" type="text" class="form-control"  placeholder="Enter MotherName">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.MotherQualification">Mother Qualification</label>
                                                <input asp-for="@Model.MotherQualification" type="text" class="form-control"  placeholder="Enter MotherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.MotherJob">Mother Job</label>
                                                <input asp-for="@Model.MotherJob" type="text" class="form-control"  placeholder="Enter MotherJob">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.NativeDistrict">Native District</label>
                                                <input asp-for="@Model.NativeDistrict" type="text" class="form-control" placeholder="Enter NativeDistrict">
                                            </div>
                                        </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-group">
                                                    <label asp-for="@Model.ContactPerson">ContactPerson:</label>
                                                    <input asp-for="@Model.ContactPerson" type="text" class="form-control"  placeholder="Enter ContactPerson" >
                                                </div>

                                                <div class="form-group">
                                                    <label asp-for="@Model.Address">Address</label>
                                                    <textarea asp-for="@Model.Address" class="form-control" rows="5" id="comment"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label asp-for="@Model.PhoneNo">PhoneNo:</label>
                                                    <input asp-for="@Model.PhoneNo" type="number" class="form-control"  placeholder="Enter PhoneNo">
                                                </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.BirthNumberinFamily">Birth Number in Family</label>
                                                <input asp-for="@Model.BirthNumberinFamily" type="number" class="form-control"  placeholder="Enter MobileNo">
                                            </div>


                                            <div class="form-group">
                                                <label asp-for="@Model.Brothers">Brothers:</label>
                                                <input asp-for="@Model.Brothers" type="number" class="form-control"  placeholder="Enter MobileNo" >
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.MarriedBrothers">Married Brothers</label>
                                                <input asp-for="@Model.MarriedBrothers" type="number" class="form-control"  placeholder="Enter MobileNo" >
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.Sisters">Sisters:</label>
                                                <input asp-for="@Model.Sisters" type="number" class="form-control"  placeholder="Enter MobileNo">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.MarriedSisters">Married Sisters</label>
                                                <input asp-for="@Model.MarriedSisters" type="number" class="form-control"  placeholder="Enter MobileNo" >
                                               </div>
                                             </div>
                                        </div>
                                   </div>
                            </div>
                        </div>
                 </div>

                    <div class="tab-pane fade" id="nav-preferences">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-5 border-right">

                                            <div class="form-group">
                                                <label asp-for="@Model.FromAge">From Age :</label>
                                                <input asp-for="@Model.FromAge" type="text" class="form-control">
                                            </div>
                                            </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="@Model.UptoAge">UptoAge:</label>
                                                <input asp-for="@Model.UptoAge" type="number" class="form-control" placeholder="Enter UptoAge">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-login">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">
                                            <div class="form-group">
                                                <label>Login Email Id :</label>
                                                <input asp-for="@Model.LoginEMailId" class="form-control"  placeholder="User Name">
                                            </div>
                                            <button formaction="/Admin/SendUserName" class="btn btn-primary mt-2"> Generate Password and Send Mail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
