@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model ProfileViewModel




<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Profile</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->
<div class="user-profile-page">
    <div class="card radius-15">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="text-center">
                                <img src="~/adminuser/assets/images/avatars/avatar-1.png" class="rounded-circle shadow" width="130" height="130" alt="" />
                                <button type="button" class="btn btn-primary mt-2">Connect</button><br />
                                <button type="button" class="btn btn-outline-secondary mt-2">Resume</button>
                            </div>
                            <div class="ml-md-4 flex-grow-1">
                                <div class="form-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>First Name</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class='bx bx-user'></i></span>
                                                </div>
                                                <input type="text" asp-for="@Model.Name" class="form-control border-left-0" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Last Name</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class='bx bx-user'></i></span>
                                                </div>
                                                <input type="text" class="form-control border-left-0" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone No.</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent"><i class='bx bx-phone'></i></span>
                                            </div>
                                            <input type="text" class="form-control border-left-0" placeholder="Phone No">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent"><i class='bx bx-envelope'></i></span>
                                            </div>
                                            <input type="text" class="form-control border-left-0" placeholder="Email Address">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">

                        <div class="form-row">
                            
                            <div class="form-group col-md-6">
                              
                                <label>Gender</label>
                                <select class="form-control" asp-for="@Model.Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Language</label>
                                <select class="form-control">
                                    <option>English</option>
                                    <option>German</option>
                                    <option>French</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="mb-0">Date of Birth</p>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>January</option>
                                    <option>February</option>
                                    <option selected>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option selected>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option selected>1993</option>
                                    <option>1994</option>
                                </select>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mt-2">Save</button>
                        <button type="button" class="btn btn-outline-secondary mt-2">Reset</button>

                    </div>
                </div>
                <!--end row-->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#nav-profile"><span class="p-tab-name">Profile</span><i class='bx bx-donate-blood font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#nav-contact"><span class="p-tab-name">Contact</span><i class='bx bxs-user-rectangle font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-religion"><span class="p-tab-name">Religion</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-about"><span class="p-tab-name">about</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-Horoscope"><span class="p-tab-name">Horoscope</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-family"><span class="p-tab-name">Family</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-preferences"><span class="p-tab-name">Preferences</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                    </li>
                </ul>

                @*<nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Profile View</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Life Style</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Education Details</a>
                            <a class="nav-item nav-link" id="nav-Religion-tab" data-toggle="tab" href="#nav-Religion" role="tab" aria-controls="nav-Religion" aria-selected="false">Religion</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Job Details</a>
                            <a class="nav-item nav-link" id="nav-Horoscope-tab" data-toggle="tab" href="#nav-Horoscope" role="tab" aria-controls="nav-Horoscope" aria-selected="false">Horoscope</a>
                            <a class="nav-item nav-link" id="nav-Family-tab" data-toggle="tab" href="#nav-family" role="tab" aria-controls="nav-Family" aria-selected="false">Family</a>
                            <a class="nav-item nav-link" id="nav-Preferences-tab" data-toggle="tab" href="#nav-preferences" role="tab" aria-controls="nav-Preferences" aria-selected="false">Preferences</a>
                        </div>
                    </nav>*@

                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="nav-profile">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <h2>Profile View</h2>
                                <div class="form-group">
                                    <label for="sel1">Marital Status</label>
                                    <select class="form-control" id="sel1" asp-for="@Model.MaritalStatusMasterId" asp-items="@Model.MaritalStatusMasters.Select(m=>new SelectListItem{ Text = m.MaritalStatusName, Value = m.MaritalStatusMasterId.ToString() })">
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label for="sel1">BodyType</label>
                                    <select class="form-control" id="sel1" asp-for="@Model.BodyType" asp-items="@Html.GetEnumSelectList<BodyType>()">
                                        <option>Select Body Type </option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Weight:</label>
                                    <input asp-for="@Model.Weight" type="number" class="form-control" id="name" placeholder="Enter Weight" name="weight">
                                </div>

                                <div class="form-group">
                                    <label>Height:</label>
                                    <input asp-for="@Model.Height" type="number" class="form-control" id="name" placeholder="Enter Height" name="height">
                                </div>

                                <div class="form-group">
                                    <label for="sel1">SkinColor</label>
                                    <select asp-for="@Model.SkinColor" class="form-control" id="sel1">
                                        <option>red </option>
                                        <option>Average</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="sel1">Disability</label>
                                    <select asp-for="@Model.DisabilityDescription" class="form-control" id="sel1">
                                        <option>Eye </option>
                                        <option>orthopedic </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">
                                            <div class="form-group">
                                                <label for="sel1">EatingHabit</label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EatingHabit" asp-items="@Html.GetEnumSelectList<EatingHabit>()">
                                                    <option>Select Eating Habit</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Drinking</label>
                                                <select class="form-control" id="sel1" asp-for="@Model.Drinking" asp-items="@Html.GetEnumSelectList<DrinkingHabit>()">
                                                    <option>Select Drinking Habit</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Smoking</label>
                                                <select class="form-control" id="sel1" asp-for="@Model.Smoking" asp-items="@Html.GetEnumSelectList<SmokingHabit>()">
                                                    <option>Select Smoking Habit</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-religion">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">
                                            <div class="form-group">
                                                <label for="sel1">Education Details</label>
                                                <select class="form-control" id="sel1" asp-for="@Model.HigherEducationsId" asp-items="@Model.Educations.Select(m=>new SelectListItem{ Text = m.EducationName, Value = m.EducationMasterId.ToString() })">
                                                    <option>Select Education Details</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-about">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">

                                            <div class="form-group">
                                                <label>Religion </label>


                                                <select class="form-control" id="exampleSelect1" asp-for="@Model.ReligionMasterId" asp-items="@Model.Religions.Select(m=>new SelectListItem{ Text = m.ReligionName, Value = m.ReligionMasterId.ToString() })">
                                                    <option>Select Religion</option>
                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <label for="sel1">MotherTongue </label>
                                                <select asp-for="@Model.MotherTongueMasterId" asp-items="@Model.MotherTongues.Select(m=>new SelectListItem{ Text = m.MotherTongueName, Value = m.MotherTongueMasterId.ToString() })" class="form-control">
                                                    <option>Select MotherTongue</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Castes </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.CasteMasterId" asp-items="@Model.Castes.Select(m=>new SelectListItem{ Text = m.CasteName, Value = m.CasteMasterId.ToString() })">
                                                    <option>Select Castes</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">SubCastes </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.SubCasteMasterId" asp-items="@Model.SubCastes.Select(m=>new SelectListItem{ Text = m.SubCasteName, Value = m.SubCasteMasterId.ToString() })">
                                                    <option>Select SubCastes</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Gothrams </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.GothramMasterId" asp-items="@Model.Gothrams.Select(m=>new SelectListItem{ Text = m.GothramName, Value = m.GothramMasterId.ToString() })">
                                                    <option>Select Gothrams</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="nav-about" class="container tab-pane fade">
                                            <br>
                                            <h3>JobDetails</h3>
                                            <div class="form-group">
                                                <label>EmployeedInMasterId:</label>
                                                <input type="number" class="form-control" id="name" placeholder="Enter EmployeedInMasterIds" name="weight">
                                            </div>


                                            <div class="form-group">
                                                <label for="sel1">EmployeedIn </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>MonthlyRevenue:</label>
                                                <input asp-for="@Model.MonthlyRevenue" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MonthlyRevenue" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label for="comment">WorkingAddress:</label>
                                                <textarea asp-for="@Model.WorkingAddress" class="form-control" rows="5" id="comment"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Country </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">State </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">City </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.EmployeedInMasterId" asp-items="@Model.EmployeedInLst.Select(m=>new SelectListItem{ Text = m.EmployeedInName, Value = m.EmployeedInMasterId.ToString() })">
                                                    <option>Select Employeed In</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-Horoscope">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">


                                            <div class="form-group">
                                                <label>Star:</label>
                                                <input asp-for="@Model.Star" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter Star" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>Rasi:</label>
                                                <input asp-for="@Model.Rasi" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter Star" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>Lagnam:</label>
                                                <input asp-for="@Model.Lagnam" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter Star" name="MonthlyRevenue">
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label">Date of Time*</label>
                                                <div class="col-sm-12">
                                                    <input asp-for="@Model.TimeofBirth" type="date" id="birthDate" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>PlaceOfBirth:</label>
                                                <input asp-for="@Model.PlaceOfBirth" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter Star" name="MonthlyRevenue">
                                            </div>

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane fade" id="nav-family">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">
                                            <div class="form-group">
                                                <label for="sel1"> Select FamilyStatus Details </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.FamilyStatusMasterId" asp-items="@Model.FamilyStatuses.Select(m=>new SelectListItem{ Text = m.FamilStatusName, Value = m.FamilyStatusMasterId.ToString() })">
                                                    <option>Select Family Status </option>


                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Family Types Details </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.FamilyTypeMasterId" asp-items="@Model.FamilyTypes.Select(m=>new SelectListItem{ Text = m.FamilyTypeName, Value = m.FamilyTypeMasterId.ToString() })">
                                                    <option>Select Family Values</option>


                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="sel1">Family Values Details </label>
                                                <select class="form-control" id="sel1" asp-for="@Model.FamilyValuesMasterId" asp-items="@Model.FamilyValues.Select(m=>new SelectListItem{ Text = m.FamilyValuesName, Value = m.FamilyValuesMasterId.ToString() })">
                                                    <option>Select Family Values</option>


                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>FatherName:</label>
                                                <input asp-for="@Model.FatherName" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter FatherName" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>FatherQualification:</label>
                                                <input asp-for="@Model.FatherQualification" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter FatherQualification" name="FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label>FatherJob:</label>
                                                <input asp-for="@Model.FatherJob" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter FatherJob" name="FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label>MotherName:</label>
                                                <input asp-for="@Model.MotherName" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter MotherName" name="FatherQualification">
                                            </div>


                                            <div class="form-group">
                                                <label>MotherQualification:</label>
                                                <input asp-for="@Model.MotherQualification" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter MotherQualification" name="FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label>MotherJob:</label>
                                                <input asp-for="@Model.MotherQualification" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter MotherJob" name="FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label>NativeDistrict:</label>
                                                <input asp-for="@Model.NativeDistrict" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter NativeDistrict" name="FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label>ContactPerson:</label>
                                                <input asp-for="@Model.ContactPerson" type="text" class="form-control" id="MonthlyRevenue" placeholder="Enter ContactPerson" name="FatherQualification">
                                            </div>

                                            <div class="form-group">
                                                <label for="comment">Address:</label>
                                                <textarea asp-for="@Model.Address" class="form-control" rows="5" id="comment"></textarea>
                                            </div>


                                            <div class="form-group">
                                                <label>PhoneNo:</label>
                                                <input asp-for="@Model.PhoneNo" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter PhoneNo" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>MobileNo:</label>
                                                <input asp-for="@Model.MobileNo" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MobileNo" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>EmailId:</label>
                                                <input asp-for="@Model.EmailId" type="email" class="form-control" id="MonthlyRevenue" placeholder="Enter EmailId" name="MonthlyRevenue">
                                            </div>





                                            <div class="form-group">
                                                <label>BirthNumberinFamily:</label>
                                                <input asp-for="@Model.BirthNumberinFamily" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MobileNo" name="MonthlyRevenue">
                                            </div>


                                            <div class="form-group">
                                                <label>Brothers:</label>
                                                <input asp-for="@Model.Brothers" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MobileNo" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>MarriedBrothers:</label>
                                                <input asp-for="@Model.MarriedBrothers" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MobileNo" name="MonthlyRevenue">
                                            </div>


                                            <div class="form-group">
                                                <label>Sisters:</label>
                                                <input asp-for="@Model.Sisters" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MobileNo" name="MonthlyRevenue">
                                            </div>

                                            <div class="form-group">
                                                <label>MarriedSisters:</label>
                                                <input asp-for="@Model.MarriedSisters" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter MobileNo" name="MonthlyRevenue">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-preferences">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 border-right">


                                            <div id="nav-Login" class="container tab-pane fade">
                                                <br>
                                                <h3> Login Details</h3>

                                                <div class="form-group">
                                                    <label>UptoAge:</label>
                                                    <input asp-for="@Model.UptoAge" type="number" class="form-control" id="MonthlyRevenue" placeholder="Enter UptoAge" name="MonthlyRevenue">
                                                </div>

                                                <div class="form-group">
                                                    <label>Login Email Id :</label>
                                                    <input asp-for="@Model.LoginEMailId" type="text" class="form-control">

                                                </div>

                                                <div id="nav-Preferences" class="container tab-pane fade">
                                                    <br>
                                                    <h3> Login Details</h3>
                                                    <div class="form-group">
                                                        <label>Login Email Id :</label>
                                                        <input asp-for="@Model.LoginEMailId" type="number" class="form-control" id="MonthlyRevenue" placeholder="User Name">
                                                    </div>

                                                    <a class="btn btn-primary" style="width:auto"
                                                       formaction="/Admin/SendUserName">
                                                        Generate Password and Send Mail
                                                    </a>
                                                    <button formaction="/Admin/SendUserName">Click Me</button>
                                                </div>

                                                <a class="btn btn-primary" style="width:auto"
                                                   asp-action="SendUserName">
                                                    Generate Password and Send Mail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: true
    }),
        $('.timepicker').pickatime()</script>
<script>
    $(function () {
        $('#date-time').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD HH:mm'
        });
        $('#date').bootstrapMaterialDatePicker({
            time: false
        });
        $('#time').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });
    });</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>