@model IEnumerable<addon365.FindMatch360.Models.Masters.SubCasteMaster>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}
<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Account" asp-action="admin">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item active">Member Information</li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a asp-action="Create" class="btn btn-success box-shadow btn-icon btn-rounded"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>
<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SubCasteName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ParentCaste)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubCasteName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentCaste.CasteMasterId)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.SubCasteMasterId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.SubCasteMasterId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.SubCasteMasterId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>