@model RegisterViewModel



@{
    Layout = "~/Views/Shared/_CampaignLayout.cshtml";
}



<div class="campaignregistor-form-bg">
    <div class="container">
        <div class="row" id="campaignregistor-wrapper">
            <div class="col-md-5" id="campignregistration-left">
                <div class="campignregistration-title">
                    <img src="~/images/reg-2.png" class="img-fluid" id="img-living">
                    <div class="campignregistration-title-bg">
                        <h5>
                            Trusted by thousands of Indians across the world.

                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-7" id="campignregistration-right">
                <div class="signup-form">
                    <form method="post">
                        <h2>Create Account</h2>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <p class="lead">
                            Please provide us with your basic details
                        </p>

                        <div class="form-group">
                            <label for="birthDate" class="col-sm-12 control-label">Date of Birth*</label>
                            <div class="col-md-12">
                                <input asp-for="@Model.DateOfBirth" type="date" id="birthDate" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sel1" class="col-md-12">Religion:</label>
                            <div class="col-md-12">
                                <select class="form-control" id="sel1" asp-for="@Model.ReligionMasterId" asp-items="ViewBag.Religions">
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="sel1" class="col-md-12">Mother Tongue:</label>
                            <div class="col-md-12">
                                <select class="form-control" asp-for="@Model.MotherTongueMasterId" asp-items="ViewBag.MotherTongues">
                                    <option value="0">Select</option>
                                </select>

                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email" class="col-md-12">Email* </label>
                            <div class="col-sm-12">
                                <input asp-for="@Model.Email" type="email" id="email" placeholder="Email" class="form-control" name="email">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password" class="col-md-12">Password*</label>
                            <div class="col-sm-12">
                                <input asp-for="@Model.Password" type="password" id="password" placeholder="Password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <a asp-controller="Account" asp-action="campaignregistrationtrack">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Continue</button>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

