@model IEnumerable<addon365.FindMatch360.Models.Masters.CasteMaster>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--page-wrapper-->

            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">Dashboard</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Create Profile</li>
                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <!--end breadcrumb-->
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CasteName)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CasteName)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.CasteMasterId">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.CasteMasterId">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.CasteMasterId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                            <!--end page-wrapper-->

