@model Profile

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MatrimonyProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateandTimeOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateandTimeOfBirth)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Star)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Star)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lagnam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lagnam)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthNumberinFamily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthNumberinFamily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brothers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brothers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarriedBrothers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarriedBrothers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sisters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sisters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarriedSisters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarriedSisters)
        </dd>
        
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NativeDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NativeDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MatrimonyProfileId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
