@model addon365.FindMatch360.Models.MatrimonyProfile

@{
    ViewData["Title"] = "Details";
}

<div class="matrimonyprofile">
    <div class="container">
        <div class="row">


            <div class="col-md-8">

                <div class="row" id="matrimonyprofile_box_top_left">
                    <div class="col-md-3" id="matrimonyprofile_box_top">
                        <div class="matrimonyprofile-box">
                            <span>3354</span>
                            <h6>Total Active Profile</h6>
                        </div>
                    </div>
                    <div class="col-md-3" id="matrimonyprofile_box_top">
                        <div class="matrimonyprofile-box">
                            <span>3059</span>
                            <h6>Yet to be viewed</h6>
                        </div>
                    </div>

                    <div class="col-md-3" id="matrimonyprofile_box_top">
                        <div class="matrimonyprofile-box">
                            <span>38</span>
                            <h6>Matched Profile with you</h6>
                        </div>
                    </div>

                    <div class="col-md-3" id="matrimonyprofile_box_top">
                        <div class="matrimonyprofile-box">
                            <span>9</span>
                            <h6>Latest Profile.</h6>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-10" style="border:1px solid#808080;">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateandTimeOfBirth)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.DateandTimeOfBirth)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Place)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Place)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Color)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Color)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Height)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Height)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nakshatra)
                    </div>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nakshatra)
                    </dd>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Rasi)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Rasi)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Lagnam)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Lagnam)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ChevvaiDosham)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.ChevvaiDosham)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BirthNumberinFamily)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.BirthNumberinFamily)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Brothers)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Brothers)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MarriedBrothers)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MarriedBrothers)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Sisters)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Sisters)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MarriedSisters)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MarriedSisters)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.JobPosition)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.JobPosition)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CompanyAddress)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.CompanyAddress)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MonthlyRevenue)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MonthlyRevenue)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.FatherName)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FatherQualification)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.FatherQualification)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FatherJob)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.FatherJob)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MotherName)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MotherName)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MotherQualification)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MotherQualification)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MotherJob)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MotherJob)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NativeDistrict)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.NativeDistrict)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPerson)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPerson)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNo)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNo)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.MobileNo)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmailId)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.EmailId)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ExpectedQualification)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.ExpectedQualification)
                    </div>


                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.MatrimonyProfileId">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




