@model IEnumerable<addon365.FindMatch360.Models.MatrimonyProfile>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            margin-bottom: 50px;
        }

            table tr .title {
                color: #fff;
                padding: 5px;
                width: 200px;
            }

        .title {
            font-size: 16px !important;
            font-weight: 100 !important;
        }

        table tr .text {
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="matrimonyprofile">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="row" id="matrimonyprofile_box_top_left">
                        <div class="col-md-3" id="matrimonyprofile_box_top">
                            <div class="matrimonyprofile-box">
                                <span>3354</span>
                                <h6>Total Active Profile</h6>
                            </div>
                        </div>
                        <div class="col-md-3" id="matrimonyprofile_box_top">
                            <div class="matrimonyprofile-box">
                                <span>3059</span>
                                <h6>Yet to be viewed</h6>
                            </div>
                        </div>

                        <div class="col-md-3" id="matrimonyprofile_box_top">
                            <div class="matrimonyprofile-box">
                                <span>38</span>
                                <h6>Matched Profile with you</h6>
                            </div>
                        </div>

                        <div class="col-md-3" id="matrimonyprofile_box_top">
                            <div class="matrimonyprofile-box">
                                <span>9</span>
                                <h6>Latest Profile.</h6>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-12" id="matrimoneyprofile-bg-wrapper">
                        <div class="row" id="bg_matrimoneyprofile">

                            @foreach (var item in Model)
                            {
                                <div class="col-md-12" id="bg-box-border">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="matrimoneyprofile-bg-menubar">
                                                <ul>
                                                    <li>
                                                        ID : 14514
                                                    </li>
                                                    <li>
                                                        பதிவு செய்யபட்ட தேதி 2021-05-09
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="matrimonyprofile-img">
                                                <img src="~/images/editprofile.png" class="img-fluid" id="img-living">
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9">



                                            <div class="col-md-12">
                                                <div class="image_wrapper">
                                                    <table>
                                                        <tr>
                                                            <td class="title">    @Html.DisplayNameFor(model => model.Name) </td>
                                                            <td class="text">  :@Html.DisplayFor(modelItem => item.Name)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title"> @Html.DisplayNameFor(model => model.DateandTimeOfBirth) </td>
                                                            <td class="text">  :@Html.DisplayFor(modelItem => item.DateandTimeOfBirth)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title">  @Html.DisplayNameFor(model => model.Nakshatra) </td>
                                                            <td class="text">:  @Html.DisplayFor(modelItem => item.Nakshatra)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title">    @Html.DisplayNameFor(model => model.ExpectedQualification)</td>
                                                            <td class="text">:   @Html.DisplayFor(modelItem => item.ExpectedQualification)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="title">
                                                                @Html.DisplayNameFor(model => model.JobPosition)
                                                            </td>
                                                            <td class="text">: @Html.DisplayFor(modelItem => item.JobPosition) </td>
                                                        </tr>



                                                        <tr>
                                                            <td class="title">
                                                                @Html.DisplayNameFor(model => model.Address)
                                                            </td>
                                                            <td class="text">:  @Html.DisplayFor(modelItem => item.CompanyAddress) </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="wishlist">

                                                <h6>Do you like to add in wish list?</h6>
                                                <ul>
                                                    <li><a> Yes</a></li>
                                                    <li><a> no</a></li>
                                                </ul>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="alert alert-dark">
                        <div id="textbox" class="box-matrimonyprofile">
                            <p class="alignleft">Similar Profile</p>
                            <p class="alignright"> (37)</p>
                        </div>
                    </div>
                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>
                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>

                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>
                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>
                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>


                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>

                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>

                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>

                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>

                    <div class="Similar-Profile" id="parents">
                        <div class="media">
                            <img src="~/images/profile_pic.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <p>Name:venkatesan</p>
                                <p>Date of brith:venkatesan</p>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</body>
</html>
